<div class="main">
  <mat-card>
    <mat-card-header>
      <h3>Sign Up</h3>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input type="text" #userEmail matInput required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" #userPwd  matInput required>
      </mat-form-field>
      <button mat-raised-button class="btn-margin" color="primary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)" >Sign Up</button>
      <button mat-raised-button class="btn-margin" type="button" (click)="authService.GoogleAuth()" color="secondary">
        Log in with Google
      </button>
      <button class="redirect btn-half" routerLink="/sign-in" color="primary" mat-button>Already have an account ?</button>
    </mat-card-content>
  </mat-card>
</div>

